.Input {
	font-family: $roboto-slab;

	&.Input--text {
		border-color: $color-4;
		&:focus {
			box-shadow: none;
			border-color: $color-3;
		}
	}

	&.Input--textBlack {
		border-color: $color-9;
		&:focus {
			box-shadow: none;
			border-color: $color-10;
		}
	}

	&.Input--file {
		position: absolute;
		top: 0;
		right: 0;
		margin: 0;
		padding: 0;
		cursor: pointer;
		opacity: 0;
		filter: alpha(opacity=0);
	}

	&.Input--marginBottom{
		margin-bottom: 20px;
	}
}
