.Select {
	font-family: $roboto-slab;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	border-color: $color-4;
	background: url('../img/arrowGreen.png') right center no-repeat;
	background-size: 10%;
	outline: 0;
	line-height: 1em !important;

	&.Select--quotation {
		width: 100%;
		-webkit-appearance: none;
		-moz-appearance: none;
		appearance: none;
		border-radius: 0;
		background: $color-9 url('../img/arrow.png') right center no-repeat;
		background-size: 20%;
		border: 0;
		color: $color-12;
		font-size: 1.6em;
		padding: 10px 50px 10px 25px;

		@media screen and (max-width: $grid-float-breakpoint) {
			background-size: 10%;
		}

		&:focus {
			box-shadow: none;
			border-color: $color-9;
		}
	}

	&:focus {
		box-shadow: none;
		border-color: $color-3;
	}
}
